
html, body {
    min-height: 100%;
}
body {
    margin: 2px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100vh;
    width: 100vw;
}
.item {
    background-color: black;

}

.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup .popuptext{
    visibility: hidden;
    width: 900px;
    background-color: grey;
    color:orange;
    text-align: center;
    border: 3px yellow;
    padding: 8px;
    
}
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}